<header data-ng-include="'app/views/en-US/header.html'"></header>
<div class="login">
    <div class="form" style="padding: 200px;">
        <div class="social">
            <a class="facebook" >
                <i class="fa fa-facebook-square" data-ng-click="fbLogin()" ></i>
            </a>
            <a class="google-plus">
                <i class="fa fa-google-plus-square" data-ng-click="gplusLogin()"></i>
            </a>
        </div>
    </div>
</div><footer data-ng-include="'app/views/en-US/footer.html'"></footer>